*{
    padding:0px;
    margin:0px
}
.navbar{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    padding:10px;
    border:1px solid black;
    text-align: center;
    background-color: lightgrey;
}
.links, .logo, .social{
    display:inline-block;
}
.links{
    margin-top:10px;
    float:right;
}
.logo{
    float:left;
    margin-left:50px;
}
#gallery a{
    margin-left:10px;
    margin-right:100px;
}
.links a{
    padding: 2px 7px 2px 7px;
    text-decoration:none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
    border: 1px solid black;
    border-radius: 10px;
    background-color: gold;
    color: dimgray;
    transition:0.4s;
}
.links a:hover{
    padding: 5px 10px 5px 10px;
    background-color:orange;
    color:black;
    transition: 0.4s;
}
.logo a img{
    border:1px solid gold;
    width:50px;
    height:50px;
    border-radius:50%;
}

.footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    padding:10px;
    border:1px solid black;
    text-align: center;
    background-color: grey;
    float:bottom;
}

.copyright{
    float:left;
    color:gold;
}
.socials{
    float:right;
}
.socials a img{
    margin:5px;
    background-color:white;
    border:1px solid gold;
    width:50px;
    height:50px;
    border-radius:50%;
    transition: 0.4s;
}
#github a img{
    margin-right:100px;
}

.socials a img:hover{
    width:55px;
    height:55px;
    transition: 0.4s;
}

.gallery h1{
    text-align:left;
    margin-top:100px;
    margin-left:50px;
}

.imagescontainer{
    margin-left:500px;
}

.images{
    display:inline-block;
    padding:20px;
}

.images img{
    width:300px;
    height:300px;
}