@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    padding: 0.75vw;
    border: 0.05vw solid black;
    text-align: center;
    background-color: lightgrey;
}

.links, .logo, .social {
    display: inline-block;
}

.links {
    margin-top: 0.75vh;
    float: right;
}

.logo {
    float: left;
    margin-left: 1.5vw;
}

#gallery a {
    margin-left: 0.5vw;
    margin-right: 5vw;
}

.links a {
    text-decoration: none;
    padding: 0.15vw 0.5vw;
    font-family: 'Young Serif', serif;
    font-size: 1.5vw;
    border: 0.05vw solid black;
    border-radius: 0.5vw;
    background-color: gold;
    color: dimgray;
    transition: 0.4s;
}

.links a:hover {
    padding: 0.25vw 0.7vw;
    background-color: orange;
    color: black;
    transition: 0.4s;
}

.logo a img {
    border: 0.05vw solid gold;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 0.75vw;
    border: 0.05vw solid black;
    text-align: center;
    background-color: grey;
}

.copyright {
    float: left;
    color: gold;
}

.socials {
    float: right;
}

.socials a img {
    margin: 0.5vh;
    background-color: white;
    border: 0.05vw solid gold;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    transition: 0.2s;
}

#github a img {
    margin-right: 5vw;
}

.socials a img:hover {
    width: 2.75vw;
    height: 2.75vw;
    transition: 0.2s;
}

body {
    background-image: url(images/us.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    object-fit:cover;
}

.banner {
    display: block;
    text-align: left;
    margin-top: 30vh;
    margin-left: 5vw;
    color: orange;
}

.heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
}

.paragraph {
    font-size: 1.25vw;
}

.paragraph i{
    color:red;
}

.heading b, .paragraph b {
    color: gold;
}

.link a {
    text-decoration: none;
    padding: 0.15vw 0.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5vw;
    border: 0.05vw solid gold;
    background-color: red;
    color: gold;
    transition: 0.2s;
}

.link a:hover {
    padding: 0.4vw 1vw;
    background-color: darkred;
    color: orange;
    border: 0.05vw solid orange;
    transition: 0.2s;
}
